In [1]:
#print 11 to 20
x=20
y=10

In [ ]:
#print 11 to 20
x=20
y=10
while(x<y):
    x+=1
    print(y)

In [ ]:
num=int(input(enter the number''''))

In [2]:
#sum of first N even number
num=int(input('Enter the number'))
sum1=0
i=1
while i<=num:
    if i%2==0:
        print(i)
        sum1=sum1+i
    i=i+1
print('sum of',num,'Even Number is',sum1)

Enter the number9
2
4
6
8
sum of 9 Even Number is 20

In [3]:

n=10
sum1=0
while n>0:
    digit=n%10
    sum1+=digit
    n=n//10
print('sum is',sum1)

sum is 1

In [19]:
#sum of digits in a number
num=2567
sum1=0
while num!=0:
    digit=num%10
    print('digit is...',digit)
    sum1=sum1+digit
    print('intermediate sum is ....',digit)
    num=num//10
    print('the number is...',num)
print('the sum of digit in a number is:',sum1)

digit is... 7
intermediate sum is .... 7
the number is... 256
digit is... 6
intermediate sum is .... 6
the number is... 25
digit is... 5
intermediate sum is .... 5
the number is... 2
digit is... 2
intermediate sum is .... 2
the number is... 0
the sum of digit in a number is: 20

In [26]:
#productof digits in a number
num=2567
product1=1
while num!=0:
    digit=num%10
    print('digit is...',digit)
    product1= product1*digit
    print('intermediate prod is ....',digit)
    num=num//10
    print('the number is...',num)
print('the product of digit in a number is:',sum1)

digit is... 7
intermediate prod is .... 7
the number is... 256
digit is... 6
intermediate prod is .... 6
the number is... 25
digit is... 5
intermediate prod is .... 5
the number is... 2
digit is... 2
intermediate prod is .... 2
the number is... 0
the product of digit in a number is: 20

In [25]:
n=2567
product11=1
while n>0:
    digit=n%10
    product11*=digit
    n=n//10
print('product is',product1)

product is 420

In [ ]:
num=3294
rever=0
while num!=0:
    digit=num%10
    print('digit is...',digit)
    rever=rever*10+digit
    print('intermediate sum is ....',digit)
    num=num//10
    print('the number is...',num)
print('the reverse digit in a number is:',rever)

In [2]:
### factorial of number using while loop
num = int(input('Enter the number'))
fact = 1
i =1
while i<=num:
    fact=fact*i
    print('fact intermediate is =',fact)
    i=i+1
    print('i =',i)
    print('\n')
    print('='*50)
    
print('Factorial is =',fact)

Enter the number5
fact intermediate is = 1
i = 2


==================================================
fact intermediate is = 2
i = 3


==================================================
fact intermediate is = 6
i = 4


==================================================
fact intermediate is = 24
i = 5


==================================================
fact intermediate is = 120
i = 6


==================================================
Factorial is = 120

#####

# n = int(input("Enter a number: "))
fact=1
count=n
while count>0:
    fact=fact*count
    count-=1
    
print('the factorial is :',fact)

In [1]:
num=5
(num>=5) and (num!=5)

False

In [2]:
s='Innomatics'
res1="matic" in s
print(res1)
res2="inno" in s
print(res2)
print(res1 or res2)

True
False
True

In [3]:
4+5/5*2

6.0

In [4]:
li1=[10,20,30]
li2=[10,20,30]
print(li1 is li2)

False

In [5]:
type(7//2)

int

In [6]:
x=5
x+=4
x-=2
print(x)

7

In [8]:
type(10%5)

int

In [15]:
binary = input("Enter a binary number: ")
decimal = 0
n = int(binary)


while n > 0:
    # Extracting the last digit
    last_digit = n % 10
    # Shift the current value left by 1 bit and add to the last digit
    decimal = (decimal << 1) | last_digit
    # Remove the last digit from the binary number
    n = n // 10

print("The conversion into decimal is is:", decimal)

Enter a binary number: 1101111
The conversion into decimal is is: 123

In [13]:
binary = input("Enter a binary number: ")
decimal=0
reverse = binary[::-1]
while decimal < int(reverse):
    print("The conversion into decimal is:", decimal)

Enter a binary number: 110111

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

In [17]:
n = int(input("Enter a decimal number: "))
binary1 = ''

while n > 0:
    binary1= str(n % 2) + binary1
    n = n // 2

if binary1 == '':
    binary1 = '0'

print("The conversion into binary  is:", binary1)

Enter a decimal number: 56
The conversion into binary  is: 111000

In [22]:
n = input("Enter a number: ")
if n == n[::-1]:
    print("it is a palindrome.")
else:
    print("it is not a palindrome.")

Enter a number: 8765
it is not a palindrome.

In [23]:
n = int(input("Enter an integer: "))
original = str(n)
reversed_num = ''
num = n
while num > 0:
    reversed_num += str(num % 10)
    num = num // 10

if original == reversed_num:
    print("The number is palindrome.")
else:
    print("The number is not a palindrome.")

Enter an integer: 1212
The number is not a palindrome.

In [26]:
n = int(input("Enter an integer: "))
s = n
p = 0
num_of_digits = len(str(n))
while n > 0:
    digit = n % 10
    p += digit ** num_of_digits
    n = n // 10
if p == s:
    print("The integer is an Armstrong number.")
else:
    print("The integer is not an Armstrong number.")

Enter an integer: 123
The integer is not an Armstrong number.

In [34]:
#for loop
l1=[1,2,3,4,5]
i=0
while i < len(l1):
    print(l1[i])
    i+=1

1
2
3
4
5

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

In [38]:
for i in range(1,31,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [39]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [40]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [46]:
a=[13,34,56,87,95]
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [47]:
for i in range(len(a)):
    print(a[i])

13
34
56
87
95

In [48]:
#average of first 10 number
sum=0
n=10
for i in range(1,n+1):
    sum+=i
    avg=sum/n
print(avg)

5.5

In [49]:
num=int(input("Enter the number"))
for i in range()

SyntaxError: expected ':' (3183456047.py, line 2)

In [52]:
#use for loop to separate two lists i.e odd and even
#1 to 50
odd = []
even = []
for i in range(1, 51):
    (even if i % 2 == 0 else odd).append(i)
print("Odd numbers:", odd)
print("Even numbers:", even)

Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [53]:
#
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [56]:
for i in range(1, 6):
    for j in range(1,i+1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [67]:
loop_count=0
for i in range(1,5):
    for j in range(i):
        loop_count+=1
        print(loop_count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10

In [68]:
marks=[50,80,15,30,90,45,60]
grade=[]
for i in marks:
    if i >=50:
        grade.app

AttributeError: 'list' object has no attribute 'app'

In [69]:
s='Hello World'
s[-5:-1:1]

'Worl'

In [70]:
txt="hello\bworld"
txt

'hello\x08world'

In [72]:
txt='sara is good girl'
my=str.maketrans("g","k")
print(txt.translate(my))

sara is kood kirl

In [73]:
print('2XY@'.lower())

2xy@

In [74]:
txt='hello world'
print(txt.find('a'))

-1

In [75]:
st='innomatics research and labs'
st[:4],st[-4:]

('inno', 'labs')

In [76]:
st[:4]+' '+st[-4:]

'inno labs'

In [77]:
s='foo'
t='bar'
print('barf' in 2*(s+t))

True

In [79]:
a=' $@hel@$lo@$ '
a.strip()

'$@hel@$lo@$'

In [81]:
a='him'
swapcase(a)

NameError: name 'swapcase' is not defined

In [1]:
x=10
y=20
while x<y:
    print('x is less than y')
    break

x is less than y

In [4]:
stars = 5

while True:
    if stars == 6:
        print('******')
    elif stars == 5:
        print('*****')
    elif stars == 4:
        print('****')
    
    stars -= 1

    if stars < 3:
        break

*****
****

In [ ]:
i=5
while i>0:
    if i ==4:
        break
        print("*"*1)
        i=i-1

In [ ]:
data=[1,9,7,6,5,8,15,12,13,-4,-8,3,2,1]
for element in data:
    if element < 0:
        break
    print(element)

In [ ]:
#continue