In [3]:
#declare a variable
a=10
b=3.56
c=True
d='hello everyone'

In [2]:
a

10

In [4]:
print(a,b,c,d)

10 3.56 True hello everyone

In [5]:
_a=41

In [6]:
_a

41

In [7]:
type(d)

str

In [11]:
a1,a2=2,2
print(a1,a2)

2 2

In [13]:
a1=b1=c1=30
print(a1,b1,c1)

30 30 30

In [15]:
a=36
b=45
a=36.56
b=56.25
print(a,type(a))
print(b,type(b))

36.56 <class 'float'>
56.25 <class 'float'>

In [2]:
#creating string in double quote
print('='*20)
strings="It Is a String"
print(strings)
print('='*20)

====================
It Is a String
====================

In [4]:
#Creation of string in tripple quotes
print('='*20)
strings="""This is going to be a very strings
which containes line breaks
and it spread across three lines"""
print(strings)
print('='*20)

====================
This is going to be a very strings
which containes line breaks
and it spread across three lines
====================

In [16]:
#String Indexing
text='Python Program'
print(len(text))
text[6]
text[10]
text[-4]#Negative Index
text[0],text[1],text[2]
text[-3],text[-2],text[-1]

14

('r', 'a', 'm')

In [19]:
#concatenate
t1='Hello'
t2='Everyone'
t1+ ' '  +t2

'Hello Everyone'

In [21]:
text[2]+text[5]+text[10]+text[13]

'tngm'

In [22]:
#slicing
#print python from text
text[0:6]

'Python'

In [23]:
text[11:14]

'ra'

In [26]:
text[-3:]

'ram'

In [30]:
_my_variable=10
_my_variable

10

In [32]:
counter = 40.7
counter

40.7

In [36]:
"@count = ""hi"""

'@count = hi'

In [38]:
Name123 = 136
Name123

136

In [40]:
myFunction = True
myFunction

True

In [41]:
"if_condition? = ""Innomatics"""

'if_condition? = Innomatics'

In [2]:
str1='python program'
str1[0:6:1]
str1[0:6:2]

'pto'

In [3]:
str1[::2]

'pto rga'

In [4]:
str1[::3]

'ph oa'

In [13]:
str1[::-1]

'margorp nohtyp'

In [14]:
str1[::-2]

'mropnhy'

In [17]:
str1[14:9:-1]

'marg'

In [18]:
str1[-1:-5:-1]

'marg'

In [21]:
#mathematical operation on string
var1='Hi '
var2='Hello'
var3=var1+var2# it will concatenate
var3

'Hi Hello'

In [23]:
'Hi '*10 #multiplication of string

'Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi '

In [65]:
#built in function
#function which can be applied on string directly called built in method
var='innomatics research lab'
print(var)

innomatics research lab

In [25]:
len(var)

23

In [26]:
var.upper()

'INNOMATICS RESEARCH LAB'

In [27]:
#make 1st letter capital
var.capitalize()

'Innomatics research lab'

In [28]:
#every letter start eith capital
var.title()

'Innomatics Research Lab'

In [67]:
#count operation- it counts the number of occurences of a substring in a main string
var.count('a')

3

In [33]:
#ends with- to check whether the string is ends with given substring or not
var.endswith('b')

True

In [34]:
var.startswith('i')

True

In [3]:
#find - it returns index position of the starting character of sunstring
var.find('i')

0

In [36]:
var.find('Research') # if it's not available then will return -1

-1

In [38]:
#index--> similar to find
var.index('research')

11

In [39]:
var.index('Research')

ValueError: substring not found

In [41]:
#replace--> it replaces the string with given substring
var.replace('a','@')

'innom@tics rese@rch l@b'

In [42]:
#strip-->will remove any leading and trailing white spaces and new line char can be removed

In [43]:
#split--> it will split the string with delimeters
var.split()

['innomatics', 'research', 'lab']

In [1]:
#list
#[]
#separated by ','
#ordered,indexable,

In [2]:
#sinle element list
list_2=[False]
list_2

[False]

In [3]:
len(list_2)

1

In [5]:
#empty list
list_3=[]
list_3

[]

In [6]:
type(list_3)

list

In [7]:
#repeated elements in list
list_4=[1,2,3,1,2,3,10,9]
list_4

[1, 2, 3, 1, 2, 3, 10, 9]

In [8]:
len(list_4)

8

In [10]:
#different data types in a list
list_5=[1,2,'him',9.5,3.77,True]
list_5

[1, 2, 'him', 9.5, 3.77, True]

In [11]:
len(list_5)

6

In [12]:
type(list_5)

list

In [13]:
#List i list creation
list_6=[12,34,[98,78,45],'python',[3,14,6,7],True,[456.89,78.76]]
list_6

[12, 34, [98, 78, 45], 'python', [3, 14, 6, 7], True, [456.89, 78.76]]

In [14]:
len(list_6)

7

In [16]:
#another way to create list
list_7=list()
list_7

[]

In [17]:
#create list using list as keywords with elements 34,67,89,'True','Hello Everyone'
list_8=list([34,67,89,'True','Hello Everyone'])
list_8

[34, 67, 89, 'True', 'Hello Everyone']

In [19]:
#other way to create
list_9=list((34,67,89,'True','Hello Everyone'))

In [20]:
list_10=list(('red','green','blue'))
list_10

['red', 'green', 'blue']

In [21]:
type(list_10)

list

In [23]:
list_11=list('1')#only strings are accepted as it is iterable
list_11

['1']

In [24]:
list_12=list(1)

TypeError: 'int' object is not iterable

In [25]:
list_13=list('innomatics')
list_13

['i', 'n', 'n', 'o', 'm', 'a', 't', 'i', 'c', 's']

In [26]:
#range()-number as argument
list_16=list(range(10))
list_16

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list_17=list(range(3,14))
list_17

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [29]:
#range(p,q,r)
#p-start point
#q-end-1
#r-steps or multiplication
list_18=list(range(3,31,3))
list_18

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [31]:
#print the list of 1st 20 elements multiple of 13 
list_19=list(range(13,13*21,13))
list_19

[13,
 26,
 39,
 52,
 65,
 78,
 91,
 104,
 117,
 130,
 143,
 156,
 169,
 182,
 195,
 208,
 221,
 234,
 247,
 260]

In [32]:
#print first 10 odd number
list_20=list(range(1,20,2))
list_20

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
list_21=list(range(2,21,2))
list_21

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
#indexing in list
#starts from 0 and ends n-1
list_22=list(range(5,46,5))
list_22

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [39]:
len(list_22)

9

In [42]:
list_22[8]

45

In [43]:
list_22[9]

IndexError: list index out of range

In [45]:
#print 10,20,30,40
list_22[1::2]

[10, 20, 30, 40]

In [51]:
#by negative index
list_22[-8::2]

[10, 20, 30, 40]

In [56]:
#reverse a list
list_22[::-1]

[45, 40, 35, 30, 25, 20, 15, 10, 5]

In [58]:
#40,30,20,10
list_22[-2::-2]

[40, 30, 20, 10]

In [59]:
#operationson list
list3=['Hi','Hello']
list4=['How','Are','You']

In [61]:
#addition can perform concatenation
list5=list3+list4
list5

['Hi', 'Hello', 'How', 'Are', 'You']

In [62]:
list6=list(range(1,20,2))
list6

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
list7=list(range(0,20,2))
list7

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
list8=list6+list7
list8

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [71]:
list9=list6*list6
list9

TypeError: can't multiply sequence by non-int of type 'list'

In [77]:
list10=list6*3
print(list10)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [76]:
list11=list6*len(list6)
print(list11)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [78]:
list15=[13,17,19,21,24]
query=24
print(query in list15)

True

In [79]:
print(query not in list15)

False

In [80]:
print(24 in list15)

True

In [1]:
#List in list
x=[1,2,3,[4,5,6],8,9]
len(x)

6

In [2]:
#access element 2,5,8
x[1],x[3][1],x[4]

(2, 5, 8)

In [17]:
y=[1,-6,-8,[-1,-9,44,[67,89,98,[567,980],898,906],789,6754,861],66,8904,1868]
y[3][3][4]
#access 980,898,89,6754,44,[567,980]

898

In [15]:
y[3][3][1]

89

In [23]:
y[3][5]

6754

In [18]:
len(y)

7

In [21]:
y[3][3][3][1]

980

In [24]:
y[3][3][3]

[567, 980]

In [26]:
y[3][2]

44

In [27]:
z=[23,False,34,89,'Hello','Hi...All']

In [28]:
z[4]

'Hello'

In [29]:
z[4]='Innomatics'

In [30]:
z

[23, False, 34, 89, 'Innomatics', 'Hi...All']

In [31]:
#Built in functions in list
#1.append()--> it is used to add single element to end of the list
l4=list(range(0,12,2))

In [32]:
l4

[0, 2, 4, 6, 8, 10]

In [33]:
l4.append(23)

In [34]:
l4

[0, 2, 4, 6, 8, 10, 23]

In [35]:
l4.append[24,89]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [36]:
l4.append([24,45,56])

In [37]:
l4

[0, 2, 4, 6, 8, 10, 23, [24, 45, 56]]

In [47]:
#extend- it used to extend our current list with another list
l5=[1,2,3]
l6=[4,5,6]
l5.extend(l6)

In [49]:
l5

[1, 2, 3, 4, 5, 6]

In [50]:
l6.extend(45) # it can only extended by list

TypeError: 'int' object is not iterable

In [51]:
#pop()--->
l7=[1,2,3,44,55,67,79,9,12]
l7.pop()

12

In [52]:
l7# after pop operation the list element

[1, 2, 3, 44, 55, 67, 79, 9]

In [53]:
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before pop operation on the list',l7)
ele=l7.pop()
print("="*50)
print('After pop operation on the list',l7)

==================================================
before pop operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
After pop operation on the list [1, 2, 3, 44, 55, 67, 79, 9]

In [55]:
#remove element 55 from the list using pop
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before pop operation on the list',l7)
print("="*50)
ele=l7.pop(4)
print('popped element',ele)
print("="*50)
print('After pop operation on the list',l7)

==================================================
before pop operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
popped element 55
==================================================
After pop operation on the list [1, 2, 3, 44, 67, 79, 9, 12]

In [57]:
#remove()--it removes value from the list
#remove element 55 from the list using pop
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before remove operation on the list',l7)
print("="*50)
ele=l7.remove(67)
print('removed element',ele)
print("="*50)
print('After removed operation on the list',l7)

==================================================
before remove operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
removed element None
==================================================
After removed operation on the list [1, 2, 3, 44, 55, 79, 9, 12]

In [58]:
l7.remove(123)# if the element is not in list ten throws error

ValueError: list.remove(x): x not in list

In [59]:
#delete--del()-remove the values from list using indexing
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before deliting operation on the list',l7)
print("="*50)
del l7[5]
print('deleted elemet element',ele)
print("="*50)
print('After deleting operation on the list',l7)

==================================================
before deliting operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
deleted elemet element None
==================================================
After deleting operation on the list [1, 2, 3, 44, 55, 79, 9, 12]

In [61]:
#copy()
import copy
list1=[1,2,3,4]
list2=copy.copy(list1)
print(list2)

[1, 2, 3, 4]

In [62]:
#clear()-
list1=[1,2,3,4]
print('before clear function is used',list1)
print("="*50)
list1.clear()
print('After clear function is used',list1)

before clear function is used [1, 2, 3, 4]
==================================================
After clear function is used []

In [63]:
#count()- number of occurences in a particular list
list7=[1,2,3,44,55,67,79,9,12,1,1,1,2,2,2,2,6,7,67,67]
list7.count(67)

3

In [64]:
list7.count(1234)# if element is not there then it throws 0

0

In [68]:
#index
list7

[1, 2, 3, 44, 55, 67, 79, 9, 12, 1, 1, 1, 2, 2, 2, 2, 6, 7, 67, 67]

In [69]:
list7.index(79)

6

In [70]:
#if index is repeated and duplicate ---then it will show the 1st occurence of the list
list7.index(1)

0

In [71]:
list7.index(67)

5

In [72]:
#reverse
list8=[23,24,56,78,89,90,67,78]
list8.reverse()

In [73]:
list8

[78, 67, 90, 89, 78, 56, 24, 23]

In [77]:
list8=[23,24,56,78,89,90,67,78]
list8[::-1]

[78, 67, 90, 89, 78, 56, 24, 23]

In [78]:
#sort()--> sort the element in the list
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before sorting operation on the list',l7)
print("="*50)
ele=l7.sort()
print('deleted elemet element',ele)
print("="*50)
print('After sorting operation on the list',l7)

==================================================
before sorting operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
deleted elemet element None
==================================================
After sorting operation on the list [1, 2, 3, 9, 12, 44, 55, 67, 79]

In [79]:
#sort()--> sort the element in the list in decending order
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before sorting operation on the list',l7)
print("="*50)
ele=l7.sort(reverse=True)
print('deleted elemet element',ele)
print("="*50)
print('After sorting operation on the list',l7)

==================================================
before sorting operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
deleted elemet element None
==================================================
After sorting operation on the list [79, 67, 55, 44, 12, 9, 3, 2, 1]

In [80]:
#inser()-list.inser(index position,element to insert)
l7=[1,2,3,44,55,67,79,9,12]
print("="*50)
print('before insert operation on the list',l7)
print("="*50)
ele=l7.insert(2,-89)
print('inserted elemet ',ele)
print("="*50)
print('After insert operation on the list',l7)

==================================================
before insert operation on the list [1, 2, 3, 44, 55, 67, 79, 9, 12]
==================================================
inserted elemet  None
==================================================
After insert operation on the list [1, 2, -89, 3, 44, 55, 67, 79, 9, 12]

In [1]:
#Tuple-Similar to list
#Immutable
#declared as ()
#indexable
tup1=(1,5,67,78)
print('Type of tup is',tup1)
print(tup1)
print(len(tup1))

Type of tup is (1, 5, 67, 78)
(1, 5, 67, 78)
4

In [6]:
#single element declaration in tuple
tup2=(1,)
type(tup2)

tuple

In [8]:
tup3=(2,3.89,True,'Innomatics')
print(tup3)
len(tup3)

(2, 3.89, True, 'Innomatics')

4

In [10]:
#indexing
tup3[0]

2

In [11]:
tup3[0]=789

TypeError: 'tuple' object does not support item assignment

In [13]:
#operations on tuple
#concatination
tup4=('Hello','Good Morning')
tup5=('How', 'Are', 'You?')
tup6=tup4+tup5
print(tup6)

('Hello', 'Good Morning', 'How', 'Are', 'You?')

In [16]:
#multiplication on tuple
tup7=tup5*tup4
tup7

TypeError: can't multiply sequence by non-int of type 'tuple'

In [18]:
tup7=tup6*2
print(tup7)

('Hello', 'Good Morning', 'How', 'Are', 'You?', 'Hello', 'Good Morning', 'How', 'Are', 'You?')

In [21]:
#Indexing
tup8=(1,2,3,4,5,6,7,8,9)
#use constant value=600
n_tuple=600
tup9=(n_tuple,)+tup8[:5]
print(tup9)

(600, 1, 2, 3, 4, 5)

In [22]:
tup10=tup8[:5]+(n_tuple,)+tup8[7:]
print(tup10)

(1, 2, 3, 4, 5, 600, 8, 9)

In [25]:
#create tuples and keep them in list
a=('sara',45)
b=('milan',15)
c=[a,b]
print(c)
print(len(c))
print(type(c))

[('sara', 45), ('milan', 15)]
2
<class 'list'>

In [26]:
d=[('sara', 45), ('milan', 15)]
d

[('sara', 45), ('milan', 15)]

In [29]:
d[0][1]=35
d

TypeError: 'tuple' object does not support item assignment

In [30]:
d[0]=('sara', 35)
d

[('sara', 35), ('milan', 15)]

In [38]:
students=[
    (1, 'john', 'data science', ['python', 'c']),
    (2, 'raunak', 'data science', ['c++', 'c']),
    (3, 'mani', 'data science', ['python', 'c++'])
]

In [39]:
print(students)

[(1, 'john', 'data science', ['python', 'c']), (2, 'raunak', 'data science', ['c++', 'c']), (3, 'mani', 'data science', ['python', 'c++'])]

In [40]:
students[1][1]

'raunak'

In [41]:
students[1][3][0]

'c++'

In [42]:
a=23
b=34
t1=(23,34)
print(type(t1))

<class 'tuple'>

In [43]:
x,y=t1

In [44]:
x

23

In [45]:
y

34

In [59]:
tup11=(5,100,4,4,6,9)
# access all ements usinf indexing
print(tup11[:6])
#access 5,100,4,4
print(tup11[:4])
#access 5,4,6
print(tup11[0:5:2])
#access 9,6,6,6,100,5
print(tup11[::-1])

(5, 100, 4, 4, 6, 9)
(5, 100, 4, 4)
(5, 4, 6)
(9, 6, 4, 4, 100, 5)

In [61]:
tup12=()
print(type(tup12))
tup13=tuple()
print(type(tup13))

<class 'tuple'>
<class 'tuple'>

In [62]:
#append to tuple
tup1=(1,2,3,4,5)
tup1.append(89)
tup1

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
tup2=89
tup3=tup1+(tup2,)
tup3

(1, 2, 3, 4, 5, 89)

In [65]:
tup3=tup1+(23,45,78)
tup3

(1, 2, 3, 4, 5, 23, 45, 78)

In [66]:
#repeatition
tup3*2

(1, 2, 3, 4, 5, 23, 45, 78, 1, 2, 3, 4, 5, 23, 45, 78)

In [69]:
#set
#it is a collection of unique data
#unordered
#indexing not possible
#no duplicates allowed
#declaration{}
#mutable
my_set={1,23.56,True,'Innomatics','innomatics','Innomatics'}
print(my_set)
print(type(my_set))
print(len(my_set))

{1, 'innomatics', 'Innomatics', 23.56}
<class 'set'>
4

In [73]:
#empty set
my_set1={}
type(my_set1)

dict

In [74]:
#empty set
my_set1=set()
type(my_set1)

set

In [75]:
#create set using list
set1=set([1,2,3])
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [76]:
list1=[1,2,3,4,5]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [77]:
li=[1,2,3,[4,5,6]]
print(li)

[1, 2, 3, [4, 5, 6]]

In [2]:
#built in method o0f set
#add
set1={1,2,3,4,5}
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [6]:
##add multiple element
#use update method
set1.update([7,8,9])
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
#another way to add multiple element
set1.update({67,69})
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 69}

In [8]:
#sorting function in set
set2={1, 2, 3, 4, 5, 99, 105,9, 19}
sorted(set2)

[1, 2, 3, 4, 5, 9, 19, 99, 105]

In [9]:
#discard
set2.discard(105)

In [10]:
set2

{1, 2, 3, 4, 5, 9, 19, 99}

In [11]:
set2.discard(1050)# trying to discard element which is not in the set but still it will not throw an error
set2

{1, 2, 3, 4, 5, 9, 19, 99}

In [15]:
#remove()
#it is used to remove an element from the set
set2.remove(19)
set2

{1, 2, 3, 4, 5, 9}

In [16]:
a={99,45}
b={100,15}
c=[a,b]
print(c)

[{99, 45}, {100, 15}]

In [17]:
c.reverse()
c

[{15, 100}, {45, 99}]

In [18]:
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

In [19]:
c=a
a=b
b=c
print(a)
print(b)

10
20

In [20]:
set2

{1, 2, 3, 4, 5, 9}

In [21]:
#pop()
set2.pop()

1

In [22]:
set2

{2, 3, 4, 5, 9}

In [23]:
#clear()
set2.clear()

In [24]:
set2

set()

In [27]:
A={1,2,3,4,5,6}
B={5,6,7,8,9,10}
#union-itakes all element from A and B
#intersection- it takes only common element from A and B
#n(AuniunB)=n(A)+n(B)-n(A intersection B)
#difference()
#symetric difference()

print('A union B',A|B)
print('b union A',B.union(A))

A union B {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
b union A {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
print('B intersection', B&A)
print('B intersection A can also be',B.intersection(A))

B intersection {5, 6}
B intersection A can also be {5, 6}

In [30]:
print('A difference B',A-B)
print('A difference B',A.difference(B))

A difference B {1, 2, 3, 4}
A difference B {1, 2, 3, 4}

In [34]:
print('Symmetric Difference',(A|B)-(A&B))
print('A symmetric difference B can also be',A^B)
print('A symmetric difference B can also be',A.symmetric_difference(B))

Symmetric Difference {1, 2, 3, 4, 7, 8, 9, 10}
A symmetric difference B can also be {1, 2, 3, 4, 7, 8, 9, 10}
A symmetric difference B can also be {1, 2, 3, 4, 7, 8, 9, 10}

In [37]:
#manipulating the sets
A={1,2,3,4,5,6}
A.add(78)
print(A)
sum(A)
print(A)

{1, 2, 3, 4, 5, 6, 78}
{1, 2, 3, 4, 5, 6, 78}

In [38]:
sum(A)

99

In [39]:
456 not in A

True

In [40]:
4567 in A

False

In [41]:
max(A)

78

In [42]:
min(A)

1

In [43]:
#Dictionary
#creating ways of dictionary
#how to call dictionary element
#operations in dictionaries
#built in function in dictionaries
#difference between set and dictionary
#each element in dict is separated by comm ,
#keys and values assigned by :
#Dictionary---- store key value pairs, unordered,indexable,mutable
# declaration{}
#duplicates not allowed

student={'123':'Dhoni','134':'Virat','679':'Sachin'}
print(student)
print(len(student))
print(type(student))

{'123': 'Dhoni', '134': 'Virat', '679': 'Sachin'}
3
<class 'dict'>

In [44]:
#empty dictionary
dict1={}
type(dict1)

dict

In [45]:
# add new element to dictionary
student['789']='Rohit Sharma'
student

{'123': 'Dhoni', '134': 'Virat', '679': 'Sachin', '789': 'Rohit Sharma'}

In [46]:
student['789']='Pandya'
student

{'123': 'Dhoni', '134': 'Virat', '679': 'Sachin', '789': 'Pandya'}

In [51]:
emp1={'Name':'John','Age':'29','Blood Group':'A+','Location':'scotland'}
emp2={'Name':'Rick','Age':'35','Blood Group':'D','Location':'bangalore'}
emp3={'Name':'Nilsan','Age':'23','Blood Group':'B+','Location':'chenai'}
print(emp1)
print(emp2)
print(emp3)

{'Name': 'John', 'Age': '29', 'Blood Group': 'A+', 'Location': 'scotland'}
{'Name': 'Rick', 'Age': '35', 'Blood Group': 'D', 'Location': 'bangalore'}
{'Name': 'Nilsan', 'Age': '23', 'Blood Group': 'B+', 'Location': 'chenai'}

In [53]:
emp1['John']='Title'# key can't be changed
emp1

{'Name': 'John',
 'Age': '29',
 'Blood Group': 'A+',
 'Location': 'scotland',
 'John': 'Title'}

In [1]:
dict1={'111-34-3434':'john','132-56-6290':'peter'}
print(dict1)

{'111-34-3434': 'john', '132-56-6290': 'peter'}

In [3]:
#membership operator
'111-3443' in dict1

False

In [4]:
'john' in dict1 #False because it only take keys for membership

False

In [8]:
sqr={2:4,3:9,4:16}
print(sqr)

{2: 4, 3: 9, 4: 16}

In [9]:
2 in sqr

True

In [11]:
d1={'red':42,'blue':3}
d2={'white':3,'red':42}
d1==d2

False

In [13]:
d1={'red':42,'blue':3}
d2={'red':42,'blue':3}
d1==d2

True

In [14]:
#fromkeys
keys=['A','B','C','D','E']
values=10
dict1=dict.fromkeys(keys,values)
dict1

{'A': 10, 'B': 10, 'C': 10, 'D': 10, 'E': 10}

In [16]:
#unpacking
fruit_prices={'apple':0.40,'orange':0.35}
veg_prices={'pepper':0.20,'onion':0.55}

#operator for unpacking
{**veg_prices,**fruit_prices}

{'pepper': 0.2, 'onion': 0.55, 'apple': 0.4, 'orange': 0.35}

In [17]:
{**fruit_prices,**veg_prices}

{'apple': 0.4, 'orange': 0.35, 'pepper': 0.2, 'onion': 0.55}

In [18]:
d = {'a': 1, 'b': 2}
print(d.get('a'))        # Output: 1
print(d.get('c', 3))     # Output: 3

1
3

In [7]:
class fruits:
    def __init__(self,price):
        self.price=price
obj=fruits(50)
obj.quantity=10
obj.bags=2
print(obj.quantity+len(obj.__dict__))

13